@charset "UTF-8";

	<style>
		div.container{
			width: 100%
		}
		
		header, footer{
			background-color: rgba(153,204,50,.5);
			color: rgba(0,0,0,1);
			clear: left;
			text-align: center;
			border: 1px solid black;
		}


		.dadosPessoais, .formacaoAcademica, .complementar, .areaAtuacao{
			font-size: 18px;
			float: left;
			margin: 20px;
			padding: 10px auto 50px auto;
			width: 250px;
			height: 420px;
			padding: 20px;
			
		}

		body {
			background-color: #dddddd;
			color: rgba(0,0,0,1);
		}

		div#interface{
		position: relative;
		width: 1340px;
		box-shadow: 0px 0px 10px black;
		

	}
	</style> <!-- estilização do texto resposável por cores, tamanhos e posições -->

	
	

