@charset "UTF-8";

	<style>
		div.container{
			width: 100%
			border: 1px solid gray;
		}
		
		header, footer{
			padding: 1em;
			color: white;
			background-color: rgba(153,204,50,.5);
			color: rgba(0,0,0,1);
			clear: left;
			text-align: center;
		}

		.dadosPessoais, .formacaoAcademica, .complementar{
			font-size: 17px;
			float: left;
			margin: 20px;
			padding: 20px;
			width: 350px;
			height: 300px;
			border: 1px, solid black;
		}

		body {
			background-color: :#dddddd;
			color: rgba(0,0,0,1);
		}

		div#interface{
		width: 1335px;
		margin: 20px auto 10px auto;
		box-shadow: 0px, 0px, 10px, black;
	}
	</style> <!-- estilização do texto resposável por cores, tamanhos e posições -->

	
	

